<mat-drawer-container>
  <mat-drawer-content class="container" (click)="options.toggle()">
    <div class="picture">
      <img src="{{bug.picture}}">
      <div class="badges">
        <div class="badge badge-caught" [ngStyle]="{'visibility': bug.caught ? 'visible' : 'hidden'}"><img src="../../../assets/img/bug_caught.png" height="20px" width="20px"></div>
        <div class="badge badge-museum" [ngStyle]="{'visibility': bug.in_museum ? 'visible' : 'hidden'}">M</div>
      </div>
    </div>
    <div class="name"><p>{{bug.name}}</p></div>
    <div class="location" *ngIf="options.opened === false"><p>{{bug.location}} <br> {{bug.preview_notes ? '(' + bug.preview_notes + ')' : ''}}</p></div>
    <div class="price"><img src="../../../assets/img/BellCoin.png" height="15" width="15" style="margin-right: 5px"><p>{{bug.price}}</p></div>
  </mat-drawer-content>

  <mat-drawer #options mode="push" position="end" mode="side">
    <div class="drawer-container">
      <button mat-icon-button class="caught" (click)="toggleCaught()"><img src="../../../assets/img/bug_caught.png" height="30px" width="30px" class="badge-caught"></button>
      <button mat-icon-button class="museum" (click)="toggleMuseum()"><mat-icon>museum</mat-icon></button>
      <button mat-icon-button class="details" (click)="openDialog(bug)"><mat-icon>info</mat-icon></button>
    </div>
  </mat-drawer>

</mat-drawer-container>
