.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  flex: 0 0 5%;
  background-color: skyblue;
}

.list {
  flex: 0 0 90%;
  overflow: scroll;
}

footer {
  flex: 0 0 5%;
  background-color: skyblue;
}
