.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  flex: 1;
  background-color: skyblue;
  text-align: end;
  padding: 10px;

  .settings {
    //color: white;
  }
}

.list {
  flex: 20;
  overflow: scroll;
}

footer {
  flex: 1;
  background-color: skyblue;
  padding: 10px;
}
