<div class="main-container">

  <header class="header-bar" [ngStyle]="{'background-color': displayTheme()}">
    <button *ngIf="update === true" mat-icon-button (click)="updateApplication()" matTooltip="An update is available!"><mat-icon>system_update</mat-icon></button>
    <button mat-icon-button [mat-menu-trigger-for]="settingsMenu" class="settings"><mat-icon>settings</mat-icon></button>
  </header>

  <mat-tab-group mat-stretch-tabs headerPosition="below" class="list" (selectedTabChange)="toggleTheme($event)">

    <mat-tab label="Fish">
      <app-fish-item *ngFor="let fish of fishList | available_date: filter" [fish]="fish"></app-fish-item>
    </mat-tab>

    <mat-tab label="Bugs">
      <app-bug-item *ngFor="let bug of bugList | available_date: filter" [bug]="bug"></app-bug-item>
    </mat-tab>

    <mat-tab label="Fossils">
      <div class="soon"><p>Coming Soon</p></div>
    </mat-tab>

    <mat-tab label="Artwork">
      <div class="soon"><p>Coming Soon</p></div>
    </mat-tab>

  </mat-tab-group>

  <footer [ngStyle]="{'background-color': displayTheme()}"></footer>
</div>

<mat-menu #settingsMenu="matMenu">
  <div (click)="$event.stopPropagation()">
    <button mat-menu-item>{{hemisphere}}</button>
    <button mat-menu-item (click)="toggleFilter()">Display: {{filter === true ? 'Now' : 'All'}}</button>
  </div>
</mat-menu>
