.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: repeat(auto-fit, minmax(200px, 2fr));
  grid-template-rows: auto 180px 1fr;

  font-family: Daniel;

  &__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .info-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

    }

    .info-row > * {
      margin: 0 10px;

    }

    h2 {
      margin: 5px;
    }

  }

  &__middle {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;

    .left-half {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .icons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }

    .available {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;

      display: flex;
      align-items: center;
      justify-content: center;

      &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);

      }

      &__grid > div {
        padding: 7px;
        align-items: center;
        border: thin black solid;
      }
    }
  }

  // &__bottom {
  //   padding: 10px;
  // }
}

.not-caught, .museum {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: thin solid black;
}

.fish-caught {
  background-color: cyan;
  border-radius: 50%;
}

.bug-caught {
  background-color: lightgreen;
  border-radius: 50%;
}

.picture-real {
  overflow: hidden;
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
}

.blathers-notes {
  font-style: italic;
}

.close {
  position: absolute;
  top: 10px;
  left: 10px;
}
